.App {
  text-align: center;
}

.App-header {
  background-color: #525d6d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(8px + 1vmin);
}

.header-text {
  font-size: calc(10px + 2vmin);
  color: white;
}

.previewText {
  vertical-align: middle;
}

.Classifier-results {
  font-size: calc(8px + 1vmin);
}

.App-footer {
  margin-top: 10px;
  min-height: 10vh;
  min-width: 100%;
  background-color: #525d6d;
  font-size: calc(4px + 1vmin);
  color: #ffffff;
  text-decoration: none;
}

.imgPreviewContainer {
  min-height: 55vh;
  vertical-align: middle;
}

.imgPreview {
  width: 50vh;
  height: 50vh;
}

.container {
  max-width: 50vh;
}

.App-link {
  color: #61dafb;
}

.uploadFile {
  align-items: center;
  padding-left: 40%;
  padding-right: 40%;
}

div.loader {
  animation: loader-spin infinite 1.2s linear;
  padding: 0;
  background-color: transparent !important;
  height: 50px;
  width: 50px;
  border: 5px solid #eee;
  border-bottom: 5px solid #007bff;
  border-radius: 50% !important;
  margin: 2rem;
}

@keyframes loader-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}